body {
    background-color: #dadfe6;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.calculator {
    background-color: #a2a4a8;
    width: 400px;
    height: 600px;
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.screen {
    background-color: #bac9de;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 350px;
    height: 100px;
    outline: 2px solid black;
    border-radius: 5px;
    font-family: 'Calculator', sans-serif;
}

.screen-current {
    margin-top: 50px; /* delete later for history */
    font-size: 3rem;
    text-align: right;
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    /* outline: 1px solid black; */
}

/* Big buttons */
.big-buttons {
    width: inherit;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 2px;
}

.btn-big {
    border-radius: 5px;
    width: 175px;
    height: 80px;
    font-size: 2rem;
}

#btn-clear {
    background-color: #fa7646;
}

#btn-clear:hover {
    background-color: #eb5f2e;
}

#btn-delete {
    background-color: #aeeff5;
}

#btn-delete:hover {
    background-color: #87e2ea;
}

/* Operational Buttons */
.operation-buttons {
    margin-top: 2px;
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

.btn-ops {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.btn-ops:hover {
    background-color: #e3e3e3;
}